planning.md
node_modules/
.next/
out/
build/
dist/

.env*.local
.env

*.db
*.sqlite
data/*.db

*.tsbuildinfo
next-env.d.ts

.DS_Store
npm-debug.log*

.opencode
.impeccable
.neon

# Sentry Config File
.env.sentry-build-plugin
